@import '../styles/footer.css';
@import '../styles/loader.css';
@import '../styles/modal.css';
@import '../styles/navbarC.css';
@import '../styles/postList.css';
@import '../styles/sectionOne.css';
@import '../styles/sectionThree.css';
@import '../styles/sectionTwo.css';


#root {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: brown;
}
html, body {
  width: 100%!important;
  height: 100%;
  overflow-x: hidden!important;
  display: flex;
  flex-direction: column;
  
}

.principalContainer{
  background-color: black;
  width: 100vw;
  min-height: 100vh;
 
}

.bar{

  width: 100%;
  height: 0.2%;
  background-color: aqua;
}


